* {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

.clock-widget {
	width: 470px;
	margin: 20px auto;
}

.form {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin-bottom: 20px;
}

.form-elem {
	width: 30%;
}

.form-input, .add-btn {
	box-sizing: border-box;
	padding: 5px;
	background: #e9eff6;
	border: none;
	height: 30px;
	outline: none;
	border-radius: 10px;
}

.add-btn {
	cursor: pointer;
	width: 20%;
}

.clock-list {
	display: flex;
	flex-wrap: wrap;
}

.clock-list-elem {
	width: 30%;
}

.clock-list-elem:not(:nth-child(3n)) {
	margin-right: 15px;
}

.clock-header {
	margin-bottom: 5px;
}

.clock-body {
	display: flex;
	align-items: flex-start;
}

.clock-value {
	width: 50%;
	padding: 10px;
	border: none;
	border-radius: 10px;
	background: #e9eff6;
}

.delete-btn {
	padding: 3px;
	font-weight: bold;
	font-size: 18px;
	background-color: #fff;
	border: none;
	cursor: pointer;
}